
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: rgb(220, 220, 220);
    color: rgba(0,0,0, 0.87);
}

.wrap {
    position: relative;
    width: 800px;
    height: 480px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    overflow: hidden;
    background-image: url(./img/harmony.webp);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.wrap h1, h2, h3, h4 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.col {
	width: 24.933%;
	padding: 0 1%;
	float: left;
}

.col:nth-of-type(1) {
	padding-left: 2%;
}

.col:nth-of-type(3) {
	padding-right: 2%;
}

.col-news {
	width: 50%;
}


.box {
	position: relative;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    padding: .75em;
    margin: .75em 0;
}

.column-headline h2 {
	font-weight: 300;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.ga {
    text-align: center;
}

.ga-headline {

}

.ga-value {
    font-size: 2.65em;
    font-weight: 300;
    min-height: 1em; /* does not collapse while waiting for data */
    display: block;
    font-family: Roboto, sans-serif;
    margin-top: .25ex;
    margin-bottom: .25ex;
}

.ga-date-updated {
    font-size: 1em;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.box-texttv {
	background-color: rgb(17, 30, 63);
}

.texttv-latest-news {
	font-family: "ubuntu mono", monospace;
	font-size: 17px;
	/* 	letter-spacing: -.1ex; */
    white-space: pre;
    background: #111E3F;
    padding-top: .5em;
}

.texttv-latest-news .root {
	margin-left: -0.7em;
}

.api-error-output {
	display: none;
}

.api-error-output.has-errors {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.debug-output {
	position: absolute;
	display: block;
	left: 20px;
	width: calc(100% - 40px);
	bottom: 10px;
	height: 100px;
	opacity: .5;
}
.debug-output:focus {
	opacity: 1;
}

.reload,
.close {
    position: absolute;
    top: 0;
	/* background: rgb(255, 0, 0); */
    left: 0;
    width: 392px;
    height: 90px;
}
.close {
	/*background: red;*/
	right: 0;
	left: auto;
}

