/* 
	texttvpage.css 
*/

.TextTVPage a {
	color: rgb(221, 221, 221);
}

.TextTVPage .root {
	/* margin-left: -.75em; */
	white-space: pre;
}
.TextTVPage .root .toprow {
	color: #ddd;
	line-height: 1;
}

.TextTVPage .inpage-pages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.TextTVPage h1,
.TextTVPage h2 {
	font-size: 100%;
	display: inline;
}

.TextTVPage .B {
	color: #333366;
}
.TextTVPage .C {
	color: #006666;
}
.TextTVPage .W {
	color: #333;
}
.TextTVPage .Y {
	color: #666600;
}
.TextTVPage .DH {
	font-weight: normal;
	font-family: 'Ubuntu Mono', Courier;
	font-weight: 700;
}
.TextTVPage .bgB, 
.TextTVPage .bgB a span {
	/* background-color: #ccc; */
}
.TextTVPage .bgW, 
.TextTVPage .bgW a span {
	background-color: orange;
}

.TextTVPage .bgG, 
.TextTVPage .bgG a span {
	background-color: rgba(0,255,0,.5);
}

.TextTVPage .bgR, 
.TextTVPage .bgR a span {
	background-color: rgba(255,0,0,.25);
}

.TextTVPage .bgC, 
.TextTVPage .bgC a span {
	background-color: rgb(0, 200, 238);
}

.TextTVPage .R, 
.TextTVPage .R a, 
.TextTVPage .R a:visited, 
.TextTVPage .R a:visited:hover {
  color: #F00;
}

.TextTVPage .B, 
.TextTVPage .B a {
	color: #1122CC;
}
.TextTVPage .W, 
.TextTVPage .W a {
	color: #ddd;
}
.TextTVPage .Y, 
.TextTVPage .Y a {
	color: #e2e200;
}
.TextTVPage .C, 
.TextTVPage .C a {
	color: #00c8ee;
}
.TextTVPage .bgB, 
.TextTVPage .bgB a {
	background-color: #0000ff;
	color: #ddd;
}
.TextTVPage .DH {
	/* font-size: 1.2em; */
	/* letter-spacing: -0.175ex; */
}

/* green */
.TextTVPage .G, 
.TextTVPage .G a {
  color: #0F0;
}

/* yellow. bg */
.TextTVPage .bgY,
.TextTVPage .bgY a {
	background-color: #e2e200;
	color: #1122CC;
}

/* end text tv pre styles */
